/* ==========================================================================
/* ===== Typography  ===== */
/*========================================================================== */

body {
	font-family: $FontSecondary;
}

h1, h2{
	font-family: $FontPrimary;
	color: $blackColor;
}

h3, h4, h5 ,h6{
	font-family: $FontSecondary
}
h1 {
	font-size: 1.875rem;
}

p { color: $textColor; }

@include breakpoint(medium){
	h3{
		font-size: 1.3rem
	}
	h4{
		font-size: 1.2rem;
	}
}