//* ==========================================================================
//	Theme Settings
//========================================================================== */


//* ===== Primary Colors ===== */
$primaryColor:			rgb(176, 34, 42);
$secondaryColor:		#546e7a; // Gray
$dentistColor: 			rgba(38, 120, 113, 1);

$textColor:				#888888;
$whiteColor:			#fefefe;

$blackColor:			#444;
$darkGray:				#999;
$grayColor: 			#f0f4f7;

//* ===== Border ===== */
$borderColor:			#ccc;
$borderColorLight:		#f3f3f3;

//* ===== Primary Fonts ===== */
$FontPrimary:		'Abril Fatface', serif;
$FontSecondary:		'open sans', sans-serif;
$fa:				'FontAwesome';


/* ==========================================================================
/* ===== Boxed  ===== */
/*========================================================================== */

.boxed-page-1280 {
	max-width: 1280px;
	margin: 0 auto;
}

.boxed-page-1400 {
	max-width: 1400px;
	margin: 0 auto;
}

.boxed-page-1600 {
	max-width: 1600px;
	margin: 0 auto;
}

.boxed-page-1920 {
	max-width: 1920px;
	margin: 0 auto;
}

/* ==========================================================================
/* ===== Background Gradients  ===== */
/*========================================================================== */

/* ===== gradient-a -> gradient-a-95 ===== */

.gradient-red-o {
	@include linear-gradient(142deg,rgba(206, 11, 43, 0.9), rgba(165, 0, 36, 0.178));
}
.gradient-red {
	@include linear-gradient(142deg,rgb(240, 27, 63), rgb(141, 1, 32));
}
.gradient-red-d {
	@include linear-gradient(142deg,rgb(177, 8, 64), rgb(128, 8, 48));
}
.gradient-gray {
	@include linear-gradient(142deg,rgb(255, 255, 255), rgb(240, 244, 247));
}
.gradient-aqua {
	@include linear-gradient(142deg,rgba(0, 165, 215, 1), rgba(1, 93, 146, 1));
}
.gradient-aqua-l {
	@include linear-gradient(142deg,rgb(162, 233, 255), rgb(16, 186, 238));
}
.gradient-black {
	@include linear-gradient(142deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
/* ==========================================================================
/* ===== Text Gradients  ===== */
/*========================================================================== */

.text-gradient-a {
	@include text-gradient(142deg,#d70027, #7300a5);
}
.text-gradient-b {
	@include text-gradient(142deg,#2a0845, #6441a5);
}
.text-gradient-c {
	@include text-gradient(142deg,#0c5b9c, #249bd6);
}
.text-gradient-d {
	@include text-gradient(142deg,#62045f, #aa076b);
}
.text-gradient-e {
	@include text-gradient(142deg,rgba(19, 106, 138, 1), rgba(38, 120, 113, 1));
}
.text-gradient-f {
	@include text-gradient(142deg,rgba(104, 89, 222, 1), rgba(240, 55, 116, 1));
}
.text-gradient-g {
	@include text-gradient(142deg,rgba(252, 74, 26, 1), rgba(247, 183, 51, 1));
}
.text-gradient-h {
	@include text-gradient(142deg,rgba(211, 16, 39, 1), rgba(234, 56, 77, 1));
}
.text-gradient-i {
	@include text-gradient(142deg,rgba(22, 160, 133, 1), rgba(244, 208, 63, 1));
}


/* ==========================================================================
/* ===== Border Gradients  ===== */
/*========================================================================== */

.border-gradient-a {
	@include border-gradient(142deg,#d70027, #7300a5, 1px);
}


/* ==========================================================================
/* ===== Opacity  ===== */
/*========================================================================== */

.opacity90 {
	opacity: 0.9;
}


/* ==========================================================================
/* ===== Blur  ===== */
/*========================================================================== */

.blur {
	filter:blur(5px);
}


/* ==========================================================================
/* ===== Radius  ===== */
/*========================================================================== */

.radius {
	border-radius: 4px;
}


/* ==========================================================================
/* ===== Shadow  ===== */
/*========================================================================== */

.shadow {
	@include box-shadow( 0px, 0px, 20px, 2px, rgba(0,0,0,0.1) ); background: #fff;
}


/* ==========================================================================
/* ===== Edges  ===== */
/*========================================================================== */

.angle-edge-top-right-bottom-right {
	@include angled-edge('inside top', 'lower right', $grayColor, 35);
	@include angled-edge('inside bottom', 'upper left', $grayColor, 35);
	padding: 60px 0 80px 0;
}

.angle-edge-top-left-bottom-left {
	@include angled-edge('inside top', 'lower left', $grayColor, 35);
	@include angled-edge('inside bottom', 'upper right', $grayColor, 35);
	padding: 60px 0 80px 0;
}


.angle-edge-top-right-bottom-left {
	@include angled-edge('inside top', 'lower right', $grayColor, 35);
	@include angled-edge('inside bottom', 'upper right', $grayColor, 35);
	padding: 60px 0 80px 0;
}

.angle-edge-top-left-bottom-right {
	@include angled-edge('inside top', 'lower left', $grayColor, 35);
	@include angled-edge('inside bottom', 'upper left', $grayColor, 35);
	padding: 60px 0 80px 0;
}